.redes_nav {
      display: flex;
      justify-content: end;
      align-items: end;
      background-color: #003566;
}

.redes_nav a {
      color: #f9f9f9;
      margin: 0px 10px 0px 10px;
      transition: color .5s;
}

.redes_nav a:hover {
      color:#f9f9f9bd;
}