.dv_center {
      display: flex;
      justify-content: center;
      align-items: center;
}
.s_font {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f7a501;
      margin: 0px;
}

.sb_font {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f9f9f9;
      margin: 0px;
}

.lead {
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f9f9f9;
}

/* Sombreado */

.dshadow_i {
      filter: drop-shadow(8px 8px 4px #000000);
}

/* Animacion Flotar */

.rs_img {	
      animation: float 6s ease-in-out infinite;
}

@keyframes float {
      0% {
            transform: translatey(0px);
      }
      50% {
            transform: translatey(-20px);
      }
      100% {
            transform: translatey(0px);
      }
}

@media screen and (max-width: 900px) {
      .img-fluid {
            display: none;
      }
      #contact .dv_center {
            display: block;
      }
}
