<app-navbar></app-navbar>
<ng-template #lineage2modal let-modal>
      <div class="modal-header">
            <h4 class="modal-title text-center">FrontEnd Lineage 2</h4>
            <button type="button" class="close_btn" aria-label="Close" (click)="modal.dismiss('Cross click')"><fa-icon [icon]="faXmark"></fa-icon></button>
      </div>
      <div class="modal-body">
            <p>Estoy trabajando en un proyecto propio</p>
      </div>
</ng-template>
<main>
      <section>
            <div class="container-fluid vh-100 p-5 dv_center" id="aboutme" data-aos="zoom-in-up" data-aos-duration="1000">
                  <div class="col-md-6 px-0">
                        <h5 class="sb_font">Buenas, soy</h5>
                        <h1 class="display-5 s_font">Mulanesa</h1>
                        <h5 class="sb_font">Programador web full-stack jr</h5>
                        <p class="lead fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsam maxime delectus illo a. Numquam facere incidunt tenetur error illo sequi nesciunt, non, eligendi, repellat consectetur nulla provident laboriosam et!.
                        </p>
                  </div>
                  <img class="img-fluid dshadow_i rs_img" src="../../../assets/img/svg/web_developer_1.svg" alt="Persona sentada en una silla al lado de un escritorio, en el que hay una notebook encima y la persona la esta utilizando" id="#a-imgwd" loading="lazy">
            </div>
      </section>
      <section>
            <div class="container-fluid p-5" id="skills">
                  <h2 class="h_font text-center">Hard & Soft Skills</h2>
                  <div class="c-skills row" data-aos="zoom-in-up" data-aos-duration="1000">
                        <div class="s-card col-6 p-2" >
                              <img class="dshadow_i" src="../../../assets/img/habilidades/lhtml.svg" alt="Logo de HTML5" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">HTML</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{html}}</i></p>
                                    </div>
                              </div>
                        </div>
                        <div class="s-card col-6 p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/lcss3.svg" alt="Logo de CSS3" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">CSS</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{css}}</i></p>
                                    </div>
                              </div>
                        </div>
                        <div class="s-card col-6 p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/ljs.svg" alt="Logo de JS" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">JavaScript</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{javascript}}</i></p>
                                    </div>
                              </div>
                        </div>
                        <div class="s-card col-6 p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/langular.svg" alt="Logo de Angular" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">Angular</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{angular}}</i></p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <section>
            <div class="container-fluid p-5" id="proyectos">
                  <h2 class="p_font text-center">Proyectos</h2>
                  <div class="dv_center row" data-aos="zoom-in-up" data-aos-duration="1000">
                        <div class="p-card my-3 col-6" (click)="openCenteredLG(lineage2modal)">
                              <img class="dshadow_i" src="../../../assets/img/proyectos/ll2.png" alt="Logo de HTML5" style="width: 100%;">
                        </div>
                  </div>
            </div>
      </section>
      <section>
            <div class="container-fluid p-5" id="contact">
                  <div class="dv_center">
                        <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
                              <h3>Contactame</h3>
                              <hr style="margin-right: 10%;">
                              <p class="lead fs-5">E-mail:<br><a href="mailto:mulanesadev@contact.com">mulanesadev@contact.com</a></p>
                              <a class="f_deco" href="#linkedin" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                              <a class="f_deco" href="#github" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
                              <a class="f_deco" href="#twitter" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                        </div>
                        <form class="rs_form" action="#" data-aos="fade-up" data-aos-duration="1000">
                              <div class="mb-3">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="textname" class="form-control" id="name" placeholder="Nombre">
                              </div>
                              <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                              </div>
                              <div class="mb-3">
                                    <label for="textarea" class="form-label">Mensaje</label>
                                    <textarea class="form-control" id="textarea" rows="6" placeholder="Mensaje"></textarea>
                              </div>
                              <button type="button" class="btn btn-warning">Enviar</button>
                        </form>
                  </div>
            </div>
      </section>
</main>
<app-footer></app-footer>