.container-fluid {
      background-color: #1A1C1E;
}

.c-about {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}

.s_font {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f7a501;
      margin: 0px;
}

.sb_font {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f9f9f9;
      margin: 0px;
}

.lead {
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f9f9f9;
}

/* Sombreado */
.dshadow_i {
      filter: drop-shadow(8px 8px 4px #000000);
}

/*  h-card  */

#skills {
      -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
      background-color: #f7a501;
}

.h_font {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f9f9f9;
}

.s-card {
      width: 200px;
      padding: 5px;
      margin: 5px 2px 5px 2px;
      border-radius: 10px;
      background-color: #f9f9f9bd;
}

.c-skills {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}

.b-card {
      background-color: #1A1C1E;
      text-align: center;
      color: white;
      border-radius: 10px;
}

@media screen and (max-width: 900px) {
      .c-skills {
            display: grid;
      }
      .img-fluid {
            display: none;
      }
}


/* Modal */
.modal-body, .modal-footer, .modal-header {
      background-color: #1A1C1E;
      color: white;
}
.modal-header, .modal-footer {
      border-radius: 0px;
}
.close_btn {
      color: #f9f9f9;
      background: #f7a501bd;
      border: 0px transparent;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      transition: .5s, color .10s;
}
.close_btn:hover {
      background: #f7a501;
}
.hr {
      margin: 0px 20px 0px 20px;
}
/*
.modal-body, .modal-footer, .modal-header {
      color: #f9f9f9;
      background: #1A1C1E;
}
*/
.modal-title {
      font-family: 'Lilita One', cursive;
      color: #f9f9f9;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

/* Animacion Flotar */

.rs_img {	
      animation: float 6s ease-in-out infinite;
}

@keyframes float {
      0% {
            transform: translatey(0px);
      }
      50% {
            transform: translatey(-20px);
      }
      100% {
            transform: translatey(0px);
      }
}

/* proyectos card */

.p_font {
      font-family: 'Lilita One', cursive;
      text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
      color: #f7a501;
}

.p-card .lead {
      font-size: 16px;
}

.p-card {
      width: 200px;
      padding: 5px;
      margin: 5px 2px 5px 2px;
      border-radius: 10px;
      background-color: #a52a2abd;
      cursor: pointer;
      transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}

.p-card:hover {
      width: 220px;
      margin-top: 10px;
      transform: translate(0px,-20px);
      -webkit-transform: translate(0px,-20px);
      -moz-transform:translate(0px,-20px);
}

.a-proyectos {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}