<app-navbar></app-navbar>
<ng-template #contenido let-modal>
      <div class="modal-header">
            <h4 class="modal-title text-center">Titulo</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <hr class="hr">
      <div class="modal-body">
            Content
      </div>
      <hr class="hr">
      <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modal.close()">Salir</button>
      </div>
</ng-template>
<main>
      <section>
            <div class="container-fluid vh-100 p-5 c-about" id="aboutme">
                  <div class="col-md-6 px-0 testing">
                        <h1 class="display-5 s_font">Sobre mi</h1>
                        <p class="lead fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsam maxime delectus illo a. Numquam facere incidunt tenetur error illo sequi nesciunt, non, eligendi, repellat consectetur nulla provident laboriosam et!.
                        </p>
                  </div>
                  <div>
                        <img class="img-fluid dshadow_i rs_img" src="../../../assets/img/svg/web_developer_1.svg" alt="#" id="#a-imgwd">
                  </div>
            </div>
      </section>
      <section>
            <div class="container-fluid p-5" id="skills">
                  <h2 class="h_font text-center">Mis Habilidades</h2>
                  <div class="c-skills">
                        <div class="s-card p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/lhtml.svg" alt="Logo de HTML5" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">HTML</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{basic}}</i></p>
                                    </div>
                              </div>
                        </div>
                        <div class="s-card p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/lcss3.svg" alt="Logo de CSS3" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">CSS</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{basic}}</i></p>
                                    </div>
                              </div>
                        </div>
                        <div class="s-card p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/ljs.svg" alt="Logo de JS" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">JavaScript</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{basic}}</i></p>
                                    </div>
                              </div>
                        </div>
                        <div class="s-card p-2">
                              <img class="dshadow_i" src="../../../assets/img/habilidades/langular.svg" alt="Logo de Angular" style="width: 100%;">
                              <div class="b-card p-3">
                                    <h4 class="s_font">Angular</h4>
                                    <hr class="hr" style="margin-top: 10px;">
                                    <div class="my-3">
                                          <p><strong>Nivel: </strong><i>{{basic}}</i></p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <section>
            <div class="container-fluid p-5"></div>
      </section>
</main>