<div class="container-fluid">
      <div class="sobremi_card">
            <div class="sm_container">
                  <div class="sm_tt">
                        <div class="sm_card_img">
                              <img src="../../../assets/img/avatartest.png" alt="#">
                        </div>
                        <div class="sm_content">
                              <h3>Neyen Coria</h3>
                              <p>Programador web full-stack trainee</p>
                        </div>
                        <div class="sm_content2">
                              <h3>Acerca de mi</h3>
                              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati amet possimus quae commodi modi ut accusamus cupiditate consectetur. Impedit doloribus praesentium dolore consequatur temporibus! Eveniet provident tempore laborum aliquid qui.</p>
                        </div>
                  </div>
            </div>
      </div>
</div>