.sobremi_card {
      display: flex;
      justify-content: center;
      align-items: center;
}
.sm_container {
      position: relative;
      width: 1100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0px 20px;
}

.sm_container .sm_tt {
      position: relative;
     /* max-width : 100%;
     * width: 290px; 
     * height : 215px;*/
      height: 320px;
      width: 100%;
      background-color : #003566;
      margin : 10px;
      padding : 20px 15px;
      display : flex;
      flex-direction : column;
      box-shadow : 0 5px 20px rgba(0,0,0,0.5);
      transition : .2s ease-in-out;
      border-radius : 15px;
}

.sm_container .sm_tt .sm_card_img {
      position: relative;
      width: 260px;
      height: 260px;
      top : -40%;
      box-shadow : 0 5px 20px rgba(0,0,0,0.2);
      z-index : 1;
}

.sm_container .sm_tt .sm_card_img img {
      max-width: 100%;
      border-radius: 15px;
}

.sm_container .sm_tt .sm_content {
      position: relative;
      bottom: 80%;
      margin-left: 26%;
      padding: 10px 15px;
      color: #fff;
      visibility: visible;
      opacity: 1;
      transition: 0.3s ease-in-out;
}

.sm_content h3 {
      font-family: 'ClashDisplay-Semibold';
}
/*.sm_container .sm_tt:hover .sm_content {
*      margin-top: 30px;
*      visibility: visible;
*      opacity: 1;
*      transition-delay: 0.2s;
} */

.sm_container .sm_tt .sm_content2 {
      position: relative;
      top: -200px;
      bottom: 0%;
      color: #fff;
      padding: 10px;
}

@media screen and (max-width: 992px) {
      .sm_container .sm_tt {
            height: 100%;
            margin: 0%;
            display: flex;
            flex-direction: column;
            align-items: center;
      }
      .sm_container .sm_tt .sm_card_img {
            box-shadow: none;
            position: initial;
            max-width: 250px;
            max-height: 250px;
            height: 100%;
            width: 100%;
            z-index: 0;

      }
      .sm_container .sm_tt .sm_content,
      .sm_container .sm_tt .sm_content2
       {
            position: initial;
            margin: 0%;
            text-align: center;
      }
}