<footer>
      <div class="container-fluid">
            <div class="text-white m-3">
                  <div class="float-end fs-5" style="display: inline-flex;">
                        <a href="#" target="_blank"><fa-icon [icon]="faLinkedin" class="fa_deco"></fa-icon></a>
                        <a href="#" target="_blank"><fa-icon [icon]="faGithub" class="fa_deco"></fa-icon></a>
                        <a href="#" target="_blank"><fa-icon [icon]="faTwitter" class="fa_deco"></fa-icon></a>
                  </div>
                  <p style="font-size: 18px;">&copy; 2023 <strong>MulanesaDev</strong> Todos los derechos reservados</p>
            </div>
      </div>
</footer>
