<nav class="barranav navbar navbar-expand-lg nav-masthead bg-opacity-50">
      <div class="container-fluid">
        <a href="" class="navbar-brand fw-bold">
          <img class="d_shadow" src="../../../../../assets/img/argpro.png" alt="Imagen de Argentina Programa" width="100px">
        </a>
        <div class="nav" id="navbarNav">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link fontNav" (click)="onClickScroll('aboutme')">Sobre mi</a></li>
            <li class="nav-item"><a class="nav-link fontNav" (click)="onClickScroll('skills')">Habilidades</a></li>
            <!--<li class="nav-item"><a class="nav-link fontNav" routerLink="/login" routerLinkActive="active" *ngIf="authService.logIn">Profile</a></li>
            <li class="nav-item"><a class="nav-link fontNav" routerLink="/login" routerLinkActive="active" *ngIf="!authService.logIn">Login</a></li>
            <li class="nav-item"><a class="nav-link fontNav" (click)="logout()" href="#" *ngIf="authService.logIn">Logout</a></li>-->
          </ul>
        </div>
      </div>
</nav>