<div class="container" *ngIf="expLab && isLogged && hasAdminRole()">
      <div class="row">
            <div>
                  <h1 class="text-center">Editor de Exp. Laboral</h1>
                  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-group">
                              <label for="nombreE">Nombre de la Empresa</label>
                              <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
                        </div>
                        <div class="form-group">
                              <label for="descripcionE">Descripcion</label>
                              <textarea row="3" type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required></textarea>
                        </div>
                        <button class="btn btn-warning">
                              Guardar Cambios
                        </button>
                        <a href="./" style="display: flex; place-content: center; margin-top: 5px;">Volver</a>
                  </form>
            </div>
      </div>
</div>

