<div class="text-center">
      <form (ngSubmit)="onCrearCuenta()">
        <div class="modal_header">
          <h1>Registro</h1>
        </div>
        <div class="modal-body">
            <input
            type="text"
            name="nombre"
            [(ngModel)]="nombre"
            placeholder="Nombre"
            required="required"
            class="form-control mb-3"
          />
          <input
            type="text"
            name="usuario"
            [(ngModel)]="nombreUsuario"
            placeholder="Nombre de Usuario"
            required="required"
            class="form-control mb-3"
          />
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="E-mail"
            required="required"
            class="form-control mb-3"
          />
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            [(ngModel)]="password"
            required="required"
            class="form-control mb-3"
          />
          <button type="submit">Registrarse</button>
          <div class="my-1">
          </div>
        </div>
      </form>
</div>