<div class="container-fluid">
      <div class="exp_card">
            <div class="exp_container">
                  <div class="exp_body">
                        <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div style="display: inline-flex;">
                                          <p class="st_icon">
                                                <fa-icon [icon]="faLaptopFile"></fa-icon>
                                          </p>
                                          <h3>Experiencia Laboral</h3>
                                    </div>
                                    <hr/>
                                    <div>
                                          
                                          <h5>Trabajo 1</h5> - <i>(year)</i>
                                          <p>- <i>Descripcion de lo realizado</i></p>
                                    </div>
                                    <div>
                                          <h5>Trabajo 2</h5> - <i>(year)</i>
                                          <p>- <i>Descripcion de lo realizado</i></p>
                                          
                                    </div>
                                    <hr/>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div style="display: inline-flex;">
                                          <p class="st_icon">
                                                <fa-icon [icon]="faBookOpen"></fa-icon>
                                          </p>
                                          <h3>Educacion</h3>
                                    </div>
                                    <hr/>
                                    <div>
                                          <h5>Primario</h5> - <i>(Completo)</i>
                                          <p>- <i>Escuela -0 -0 -0 </i></p>
                                    </div>
                                    <div>
                                          <h5>Secundario</h5> - <i>(Cursando)</i>
                                          <p>- <i>Escuela -0 -0 -0</i></p>
                                    </div>
                                    <hr/>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>