<div class="container-fluid">
      <div class="exp_card">
            <div class="exp_container">
                  <div class="exp_body">
                        <div class="hs_content">
                              <h3>Hard & Soft Skills</h3>
                              <div class="c-skills row">
                                    <div class="s-card col-6 p-2" >
                                          <img class="dshadow_i" src="../../../assets/img/habilidades/lhtml.svg" alt="Logo de HTML5" style="width: 100%;">
                                          <div class="b-card">
                                                <p><ngb-progressbar type="warning" textType="white" [value]="50" [showValue]="true"></ngb-progressbar></p>
                                          </div>
                                    </div>
                                    <div class="s-card col-6 p-2">
                                          <img class="dshadow_i" src="../../../assets/img/habilidades/lcss3.svg" alt="Logo de CSS3" style="width: 100%;">
                                          <div class="b-card">
                                                <p><ngb-progressbar type="warning" textType="white" [value]="50" [showValue]="true"></ngb-progressbar></p>
                                          </div>
                                    </div>
                                    <div class="s-card col-6 p-2">
                                          <img class="dshadow_i" src="../../../assets/img/habilidades/ljs.svg" alt="Logo de JS" style="width: 100%;">
                                          <div class="b-card">
                                                <p><ngb-progressbar type="warning" textType="white" [value]="50" [showValue]="true"></ngb-progressbar></p>
                                          </div>
                                    </div>
                                    <div class="s-card col-6 p-2">
                                          <img class="dshadow_i" src="../../../assets/img/habilidades/langular.svg" alt="Logo de Angular" style="width: 100%;">
                                          <div class="b-card">
                                                <p><ngb-progressbar type="warning" textType="white" [value]="50" [showValue]="true"></ngb-progressbar></p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>      
      </div>
</div>