<div class="container-fluid">
      <div class="exp_card">
            <div class="exp_container">
                  <div class="exp_body">
                        <div class="hs_content">
                              <h3>Proyectos</h3>
                              <div class="dv_center">
                                    <div class="proyect_img">
                                          <img src="../../../assets/img/proyectos/ll2.png" alt="...">
                                          <div class="proyect_img_cont">
                                                <h5>Lineage 2 Page</h5>
                                                <p>Repo: <a href="https://github.com/mulanesa/" target="_blank">Link</a></p>
                                                <p>Page: <a href="https://github.com/mulanesa/" target="_blank">Visit!</a></p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>